.top-section {
  display: flex;
  flex-direction: row;
  margin: 12px 0;
}

.list-section {
  margin-top: auto;
}

mat-form-field {
  margin-top: auto;
  margin-left: auto;
  height: 80px;
}

.chart {
  width: 700px;
  height: 400px;
  margin-left: auto;
  margin-bottom: 0;
  padding: 0;
}

.csv_button {
  width: 120px;
  margin-left: auto;
  margin-top: auto;
}

.margin {
  margin: 0 12px;
}

ul {
  list-style-type: none;
  margin-top: 4px;
}
