<section class="top-section">
  <div class="container">
    <mat-form-field class="form-field">
      <mat-label>Enter a date range</mat-label>
      <mat-date-range-input [formGroup]="dateRange" [rangePicker]="picker">
        <input matStartDate formControlName="start" placeholder="Start date" (dateChange)="dateChanged()">
        <input matEndDate formControlName="end" placeholder="End date" (dateChange)="dateChanged()">
      </mat-date-range-input>
      <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-date-range-picker #picker></mat-date-range-picker>
    </mat-form-field>
    <div class="span-container">
      <span class="span" *ngFor="let group of sensorGroup; index as i">
        <mat-checkbox
                      class="margin"
                      [checked]="allComplete[i]"
                      [color]="group.color"
                      [indeterminate]="someComplete(i)"
                      (change)="setAll(i, $event)">
          {{group.name}}
        </mat-checkbox>
        <ul>
          <li *ngFor="let sensor of group.sensors">
              <mat-checkbox [(ngModel)]="sensor.checked"
                            [color]="sensor.color"
                            (change)="updateAllComplete(i, sensor.name, $event)">
                {{sensor.name}}
              </mat-checkbox>
            </li>
        </ul>
      </span>
    </div>
  </div>
  <div class="chart">
    <canvas baseChart
            [datasets]="lineChartData"
            [labels]="lineChartLabels"
            [options]="lineChartOptions"
            [legend]="lineChartLegend"
            [type]="lineChartType"
    ></canvas>
  </div>
  <div class="csv_button">
    <button mat-button color="accent" (click)="downloadCSV()">Download CSV</button>
  </div>
</section>

<mat-card>
  <mat-table [dataSource]="dataSource" matSort (matSortChange)="sortColumnChanged($event)">

    <ng-container matColumnDef="SensorType">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Sensor Type </mat-header-cell>
      <mat-cell *matCellDef="let measurement"> {{measurement.sensorType}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="SensorName">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Sensor Name </mat-header-cell>
      <mat-cell *matCellDef="let measurement"> {{measurement.sensorName}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="Value">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Value </mat-header-cell>
      <mat-cell *matCellDef="let measurement"> {{(measurement.value | number) + " " + measurement.unit}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="MeasurementDate">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Date </mat-header-cell>
      <mat-cell *matCellDef="let measurement"> {{measurement.measurementDate | date:'medium' }} </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row mat-ripple *matRowDef="let row; columns: displayedColumns;"></mat-row>

  </mat-table>
  <mat-paginator
    [length]="dataSize ?? 0"
    [pageSize]="queryPageSize"
    [showFirstLastButtons]="true">
  </mat-paginator>
</mat-card>
