.top-section {
  display: flex;
  flex-direction: row;
  margin: 12px 0;
}

mat-form-field {
  margin-top: auto;
  margin-left: auto;
  height: 80px;
}

.margin {
  margin: 0 12px;
}

ul {
  list-style-type: none;
  margin-top: 4px;
}
